.header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(30, 124, 248, 1) 60%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1)100%);
    border-bottom: 4px solid rgba(30, 124, 248, 1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 30px;
    padding: 19px 0px;
    align-items: center;
}

.header-left {
    display: table;
    align-items: baseline;
    width: 56%;
    justify-content: space-around;
}

.header-left div {
    display: table-cell;
    margin-left: 14px;
    padding: 0;
}

.header-left div h6 {
    margin: 0 !important;
}

.header-left a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.header-left a:hover {
    color: #dadada;

}


/* .header-left a:hover {
    color: #464545;
} */

.hedimg {
    width: 52px;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 7%;
}


.header-right {
    display: table;
    width: 35%;
    margin-right: 2%;
    position: relative;
    justify-content: left;

}

.header-right div {
    display: table-cell;
    align-items: center;
    margin-right: 14px;

}

.header-right div img {
    transform: translate(-5px, 4px);
    float: left;
}

.header-right div h6 a {
    color: #1D1D1D;
    padding-left: 5px;
    font-weight: 400 !important;

}

.header-right div h6 {
    margin: 0 !important;


}

.hero {
    position: relative;
    height: 94vh;
    /* Location of the image */
    background-image: url('/images/Cover-slika-3.jpg');

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}

.imageC {
    align-self: center;
}

.hero-content {
    display: flex;
    width: 43%;
    position: absolute;
    top: 50%;
    left: 0%;
}

.hero-left {
    background: transparent linear-gradient(90deg, #1E7CF8 -24%, #4D6D9700 140%) 0% 0% no-repeat padding-box;
    width: 100%;
    position: relative;
    padding-left: 15%;
}

.hero-left h1 {
    color: white;
    text-align: right;
    margin-right: 21px;
    margin-top: 30px;
    font-weight: 700;
}

.hero-left h2 {
    color: white;
    font-weight: 0 !important;
    text-align: right;
    margin-bottom: 24px;
    margin-right: 21px;
}

.hero img {
    width: 85px;
}


.post-left {
    width: 74%;
}

.strelice {
    width: 100%;
    text-align: center;
    display: none;

}

.post-content {
    display: flex;
}

.post-bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 50px;
    margin-left: 40px;
}

.post-bottom button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0000FE;
    border-radius: 3px;
    padding: 2px 17px;
    color: #0000FE;
    width: 100%;
}

.post-right {
    width: 25%;
    object-fit: cover;
    align-self: center;
}

.post-right img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.post-title {
    width: 80%;
}

.post-title h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px
}

.post-body {
    width: 100%;
}

.post-body p {
    margin: 20px;
}

.ghost {
    color: #A2A2A2;

}

.post-body p {
    margin: 15px 0;
}

.pMarg {
    margin: 15px 40px !important;

}

.arrow {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-right: 19px solid transparent;

    border-bottom: 19px solid #0000FE;
}


.history {
    width: 100%;
    background: #F3F3F3;
    margin: 50px 0;
}

.history h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px;
}

.histroy-content {
    display: flex;
    flex-wrap: wrap;
}

.histroy-content p {
    color: #4A4A4A;
}

.history-left {
    width: 80%;
    padding-right: 20px;
}

.history-right img {
    width: 200px;
}

.image-title {
    text-align: center;
}



.history-button {
    margin: 30px;
}

.history-button button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000FE;
    border-radius: 3px;
    padding: 5px;
    color: #0000FE;
    padding: 2px 17px;
    width: auto;
}

.map {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 14%;
    margin-left: 14%;
}

.map h2 {
    font-weight: 700 !important;
    text-align: center;
}

.map p {
    text-align: center;
}

.divMap {
    width: 100%;
}

.map iframe {
    border: 2px solid #1E7CF8;
    width: 100%;
    height: 400px;
}



iframe {
    height: 350px;
}

.arrowBack {
    position: absolute;
    left: -9%;
    top: 13px;
    transform: translate(2px, 0px);
}


.index-title {
    color: #1D1D1D;
    text-align: center;
    font-size: 30px;
    margin-bottom: 3%;
    font-weight: 800 !important;
}

.social-phone {
    display: none;
}

.post-row {
    margin-bottom: 20px;
    border-bottom: 2px solid #0000FE;
}

.history-phone {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
}

.phone-icons {
    display: none;
}

.phone-image {
    display: none;
}

iframe {
    width: 100%;
    border: 2px solid #1E7CF8;
}

/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
}

#more-arrows:hover polygon {
    fill: #1E7CF8;
    transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}

polygon {
    fill: #1E7CF8;
    transition: all 0.2s ease-out;
}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}


@media(max-width: 1370px) {
    .margin {
        margin: 0 20px !important;
    }

    .header-left {
        width: 40% !important;
    }
}


/* /////////////////////////////fika */

.historyD {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 14%;
    margin-left: 14%;
}

.histroyH {
    font-weight: 800 !important;
    margin-bottom: 3%;
}

nav {
    width: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    margin-right: 4%;
    margin-left: 14%;
}


/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    height: 70px;
    width: 70px;
    /*     background: #16169e61;
    border-radius: 5px; */
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fe0000;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media only screen and (max-width: 1198px) {
    .searchText {

        -webkit-transform: translate(0%, 200%) !important;
        transform: translate(0%, 200%) !important;
        width: 100% !important;
        padding-top: 30px;
        right: 4% !important;
        left: 4% !important;
    }

    .search {
        visibility: hidden;
    }

    .select2-container {
        font-size: 16px !important;
        width: 60vw !important
    }


    nav ul {
        width: 100% !important;
    }

    .nav-mobile {
        display: block;
        z-index: 20;
    }

    .header {

        max-width: 100vw;
        position: fixed;
        top: 0%;
        width: 100%;
        z-index: 10;
    }

    .header-right {
        display: block !important;
        width: 100% !important;
        text-align: left;
        margin-top: 15%;
        position: relative;
    }

    .header-left {
        display: block !important;
        text-align: left;
        width: 100% !important;
    }

    .header-left div a {
        font-size: 22px !important;
        color: white;
    }

    .header-left div {
        margin-top: 18px;
        display: block;

    }

    .header-right div {
        margin-top: 18px;
        display: block !important;

    }

    .post-right img {
        width: 100% !important;
    }

    .header-right div h6 a {
        font-size: 22px !important;
        color: white;
        margin-left: 9px;


    }

    nav {
        width: 100%;
    }

    nav ul {
        display: none;
        height: 100vh;
        margin: 0;
        padding: 80px 10px;
        text-align: center;
        background: transparent linear-gradient(90deg, #0000FE 0%, #1e7cf8 100%) 0% 0% no-repeat padding-box;


    }

    .history-right-about img {
        width: 100%;
    }

    .search {
        position: absolute;
        bottom: 4%;
    }

    .header-content {
        display: block !important;
        margin-top: 5% !important;
        width: 85% !important;
    }

}

.mob {
    display: none !important;
}

@media only screen and (max-width: 798px) {
    .hero {
        height: 100vh !important;
        background-image: url('/images/Cover-slika-2-Mobile.jpg') !important;
    }

    .mob {
        display: block !important;
    }

    .web {
        display: none !important;
    }

    .single-post-img img {
        height: 50% !important;
    }

    .single-post h2 {
        margin-bottom: 0% !important;
        margin-left: 25px;
    }

    .tableI {
        margin-right: 0% !important;
        margin-left: 0% !important;
        font-size: 18px;
        margin-top: 27% !important;
        padding: 0px !important;
    }

    .histroyH {
        margin-bottom: 7% !important;
    }

    .strelice {

        display: block;

    }

    .hero-left h1 {
        margin-top: 15px !important;
        font-size: 26px !important;
        line-height: 25px !important;
    }

    .hero-left h2 {
        margin-top: 15px !important;
        font-size: 20px !important;
    }

    .footerD {

        margin-right: 4% !important;
        margin-left: 4% !important;

    }

    .post-bottom {
        display: flex !important;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 25px !important;
    }

    .post-bottom div {
        width: 100%;
    }


    .postsDiv {
        padding-top: 12% !important;
        margin-right: 4% !important;
        margin-left: 4% !important;

    }

    .historyD {
        margin-top: 10% !important;
        margin-right: 4% !important;
        margin-left: 4% !important;
    }

    .map {
        margin-right: 4% !important;
        margin-left: 4% !important;
        padding-top: 12% !important;
        padding-bottom: 12% !important;
    }

    .header-right div h6 a {
        color: white;
    }

    .veci {
        margin-top: 25% !important;
    }

    h1 {
        font-size: 34px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h5 {
        font-size: 17px !important;
    }

    h6 {
        font-size: 15px !important;

    }



    .history-button button h5 {
        margin: 0 !important;
    }



    .phoneBut {
        width: 50% !important;
    }




    .hero {
        background-image: url('/images/coverphone.png');
    }

    .hero-content {
        width: 100%;
        left: 0%;
    }

    .hero-left {
        width: 70%;
        height: 120px;
    }





    .post-content {
        flex-direction: column;
    }

    .post-left {
        width: 100%;
        margin-bottom: 10%;
    }

    .post-title {
        width: 100%;
    }



    .social-phone {
        display: block;
    }

    .post-meta {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .post-body p {
        margin: 0px;
    }

    .post-meta {
        display: none;
    }

    .post-body p {
        height: 45px;
        overflow: hidden;
    }

    .post-right {
        width: 100%;
        padding-bottom: 20px;
    }

    .post-row {
        position: relative;
        margin-bottom: 40px !important;
    }

    .arrow {
        position: absolute;
        bottom: 0;
    }

    .row {
        text-align: center;
        padding: 6%;
    }

    .history {
        display: none;
    }

    .history-phone {
        display: block;
        width: 100%;
    }

    .history-phone h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .image-title p {
        position: relative;
        right: initial;
    }

    .history-button {
        margin: 0px;
        text-align: center;
    }

    .history-button button {
        font-weight: bold;
    }

    .index-title {
        text-align: left !important;
        margin-bottom: 11% !important;
    }

}

.index-title {
    text-align: center;
    font-weight: 700;
}

.footerD {
    padding-top: 1px;
    margin-right: 14%;
    margin-left: 14%;
    font-weight: 500;
    font-size: 18px !important;
}

.postsDiv {
    padding-top: 4%;
    margin-right: 14%;
    margin-left: 14%;
    padding-bottom: 4%;

}

.tableI {
    margin-right: 14%;
    margin-left: 14%;
    margin-top: 4%;
    font-size: 18px;
    margin-bottom: 15%;
}

.tableI a {
    color: rgba(30, 124, 248, 1);
}

.post-bottom button:hover {
    background: rgba(30, 124, 248, 1);

}

.post-bottom button:hover a {
    color: white;
    text-decoration: none;

}

.post-bottom button a {
    font-size: 16px !important;
    color: rgba(30, 124, 248, 1);
}

.history-button button:hover {
    background: rgba(30, 124, 248, 1);

}

.history-button button:hover a {
    color: white;
    text-decoration: none;


}

.history-button button a {
    font-size: 16px !important;
    color: rgba(30, 124, 248, 1);



}

.fb-share-button {
    width: 30px;
    margin-right: 40px;
}

.social-desctop img {
    width: 25px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block;
    border: none !important;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    color: white !important;
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
}




/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}


.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}



.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

button h6 {
    margin: 0 !important;
}




.searchText {
    display: block !important;
    height: 28px;
    width: 93%;
    position: absolute;
    top: 0%;
    -webkit-transform: translate(0%, -200%);
    transform: translate(0%, -200%);
    right: 7%;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: transparent !important;
}

.select2-container {
    font-size: 14px !important;

}

.search button {
    border: none !important;
    background-color: transparent !important;
}

.figure-img {
    width: 40% !important;
}
