/* /////////////////////////////fika */



nav {
    width: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
}


/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 45px;
    background: #f7ffff;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active  {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}



.hero {
    height: 92vh;
    /* Location of the image */
  background-image: url('/images/coverdesctop.png');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}


.hero-content {
   display: flex;
   width: 30%;
   position: absolute;
   top: 50%;
   left: 10%;
}

.hero-left {
    background:  transparent linear-gradient(90deg, #1E7CF8 0%, #4D6D9700 100%) 0% 0% no-repeat padding-box;
    width: 70%;
    position: relative;
    margin: -10px 0;
}

.hero-left h2 {
    color: white;
    position: absolute;
    right: 20px;
    font-weight: 600;
}

.hero-left h3 {
    color: white;
    font-weight: 0 !important;
    position: absolute;
    top: 40px;
    right: 20px;
}

.hero img {
    width: 70px;
}

.post-left {
    width: 80%;
}

.post-content {
    display: flex;
}

.post-bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 40px;
}

.post-bottom button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000FE;
    border-radius: 3px;
    padding: 5px;
    color:  #0000FE;
    width: 126px;
}

.post-right {
    width: 250px;
    object-fit: cover;
}

.post-right img {
   margin-top: 30px;
}

.post-title {
    width: 80%;
}

.post-title h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px
}

.post-body {
    width: 95%;
}

.post-body span {
    margin: 20px;
    color: #A2A2A2;
}

.post-body p {
    margin: 15px 0;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #0000FE;
  }


.history {
    width: 100%;
    background: #F3F3F3;
    margin: 50px 0;
}

.history h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px;
}

.histroy-content {
    display: flex;
}

.histroy-content p {
    color:#4A4A4A;
}

.history-left {
    width: 80%;
    padding-right: 20px;
}

.history-right img {
    width: 200px;
}

.image-title {
    position: relative;
}

.image-title span {
    position: absolute;
    right: 4%;
}

.history-button {
    margin: 30px;
}

.history-button button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000FE;
    border-radius: 3px;
    padding: 5px;
    color:  #0000FE;
    width: 126px;
}

.map {
    text-align: center;
    margin: 50px auto;
}

.map h2 {
    font-weight: bold;
}

.map p {
    color: #A2A2A2;
}

.map iframe {
    border: 2px solid #1E7CF8;
    width: 100%;
    height: 400px;
}

.index-title {
    color:#1D1D1D;
    text-align:center;
    font-size: 30px;
    font-weight: 700;
}

.social-phone {
    display: none;
}

.post-row {
    margin-bottom: 20px;
    border-bottom: 1px solid #0000FE;
}
.history-phone {
    display: none;
}

/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
}
#more-arrows:hover polygon {
    fill: #1E7CF8;
    transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}
polygon {
    fill: #1E7CF8;
    transition: all 0.2s ease-out;
}
polygon.arrow-middle {
    opacity: 0.75;
}
polygon.arrow-top {
    opacity: 0.5;
}

@media(max-width: 1370px) {
    .margin {
        margin: 0 20px !important;
    }

    .header-left {
        width: 40% !important;
    }
}

@media only screen and (max-width: 798px) {
    nav ul {
        width: 100% !important;
    }

    .nav-mobile {
        display: block;
        z-index: 20;
    }
    .header {

        max-width: 100vw;
        position: fixed;
        top: 0%;
        width: 100%;
        z-index: 10;
    }
    .header-right {
        display: block !important;
        width: 100% !important;
        text-align: left;
        margin-top: 15%;
    }
    .header-left {
        display: block !important;
        text-align: left;
        width: 100% !important;
    }
    .header-left div a {
        font-size: 26px;
        color: white;
    }
    .header-left div {
        margin-top: 18px;

    }
    .header-right div {
        margin-top: 18px;

    }
    .header-right div p{
        font-size: 22px;
        color: white;
        margin-left: 9px;


    }
    .search {
        position: absolute;
        bottom: 4%;
    }
    .header-content {
        display: block !important;
        margin-top: 10% !important;

    }
    nav {
        width: 100%;
    }
    nav ul {
        display: none;
        height: 100vh;
        margin: 0;
        padding: 80px 10px;
        text-align: center;
        background: transparent linear-gradient(90deg, #0000FE 0%, #00007FE6 100%) 0% 0% no-repeat padding-box;;

    }


    .hero {
        background-image: url('/images/coverphone.png');
    }
    .hero-content {
        width: 100%;
        left: 0%;
    }

    .hero-left {
        width: 70%;
        height: 120px;
    }
    .hero-left h3 {
        top: 63px;
    }

    .index-title {
        text-align: start;
    }
    .post-content {
        flex-direction: column;
    }

    .post-left {
         width: 100%;
    }

    .post-title {
        width: 100%;
    }

    .social-desctop {
        display: none;
    }

    .social-phone {
        display: block;
    }

    .post-meta {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .post-body span {
        margin: 0px;
    }

    .post-body p {
        height: 40px;
        overflow: hidden;
    }

    .post-right {
        width: 100%;
        border-bottom: 1px solid #0000FE;
        padding-bottom: 20px;
    }

    .post-row {
        border-bottom: none;
        position: relative;
    }

    .arrow {
        position: absolute;
        bottom: 0;
    }
    .row {
        padding-left: 6vw;
        padding-right: 0vw;
    }
    .history {
        display: none;
    }
    .history-phone {
        display: block;
        width: 95%;
    }

    .history-phone h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .image-title span {
        position: relative;
        right: initial;
    }

    .history-button {
        margin: 0px;
        text-align: center;
    }

    .history-button button {
        font-weight: bold;
    }
}
